
.section-wrapper {
  color: #fff;
  width: 100%;
}

.arrow-pointing-down {
  transform: translateY(-50px);
  animation: arrowAnimation 3s infinite;
}

.section-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.section-content-left {
  position: absolute;
  left: 22%;
  bottom: 15%;
  max-width: 520px;
}

.section-content-left h4, .section-content-left h2{
  text-transform: uppercase;
}

.button {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: D-DIN;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  border: 2px solid #fff;
  padding: 14px 30px;
  width: 170px;
  display: block;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  transition: color 300ms ease-in-out;
}

.triggerAnimation {
  animation: sectionContentFadeUp 1s;
  animation-fill-mode: both;
}

.button:hover, .button:focus {
  color: black;
}

.button::before {
  content: "";
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;

  transition: transform 200ms ease-out;
  transform: scaleY(0);
  transform-origin: top;
}

.button:hover::before {
  transform-origin: bottom;
  transform: scaleY(1);
}

@keyframes arrowAnimation {
  0% {
    opacity: 1;
  }

  100% {
    transform: translateY(-30px);
    opacity: 0;
  }

}

@keyframes buttonFadeEffect {
  0% {
    color: black;
  }

  100% {
    background-color: #fff;
    color: black;

  }
  
}

@keyframes sectionContentFadeUp {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}

